<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Company Name</div></div>
    <div>Iconos diseñados por <a href="https://www.flaticon.es/autores/talha-dogar" title="Talha Dogar">Talha Dogar</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div><div>Iconos diseñados por <a href="https://www.flaticon.es/autores/juicy-fish" title="juicy_fish">juicy_fish</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div><div>Iconos diseñados por <a href="https://www.flaticon.es/autores/zulfa-mahendra" title="Zulfa Mahendra">Zulfa Mahendra</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
</footer>