.masthead1 {
    top: 0;
    height: 100vh;

    background-image: linear-gradient(to bottom, rgba(15, 58, 47, 0.52), rgba(7, 97, 22, 0.73)),
        url("../../../assets/images/business.jpg"), linear-gradient(#110f11, #915e5c);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1000;
    animation: cabezera 20s 4s infinite;
}

.masthead2 {
    top: 0;

    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(15, 58, 47, 0.52), rgba(92, 97, 7, 0.73)),
        url("../../../assets/images/woman.jpg"), linear-gradient(#110f11, #915e5c);
    background-position: center center;
    background-size: cover;


    position: absolute;
}

.slogan {
    position: relative;
    animation: cabezera2 20s 4s infinite;
}

.slogan2 {
    position: relative;
    animation: cabezera2 20s 10s infinite;
}

@keyframes cabezera {
    25% {
        left: 0%;
    }

    50% {
        left: -100%;
    }

    75% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes cabezera2 {
    40% {
        left: 0%;
    }

    60% {
        left: -100%;
    }

    90% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

.color-boton {
    background-color: rgb(28, 185, 54);
}

@media screen and (max-width: 530px) {
   .slogan,.slogan2 {
       margin-top: 70px;
   }
  }