 <!-- Services-->
 <section class="page-section" id="services">
     <br>       <br>
     <br>

    <div class="container px-4 px-lg-5 ">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider" />
        <div  [ngClass]="isActive ? 'fade-1':'fade-2'" (scroll-in)="activate()" (scroll-out)="deactivate()" class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><img src="../../../assets/iconos/001-sitio-web.png" alt=""></div>
                    <h3 class="h4 mb-2">Web development</h3>
                    <p class="text-muted mb-0">From developing a simple single static page of plain text to complex web applications, api development, electronic businesses</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><img src="../../../assets/iconos/002-bases-de-datos.png" alt=""></div>
                    <h3 class="h4 mb-2">Database</h3>
                    <p class="text-muted mb-0">Database administration and maintenance</p>
                </div>
            </div>
         
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><img src="../../../assets/iconos/003-tecnologia.png" alt=""></div>
                    <h3 class="h4 mb-2">Server</h3>
                    <p class="text-muted mb-0">Server development and maintenance. Nodejs, Apache, Nginx,Apis</p>
                </div>
            </div>
        </div>
    </div>
</section>